@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Editare student</h2>
<br />
<form method="post"
      action="/Articles/Edit/@ViewBag.Article.Id">
    <label>Title</label>
    <br />
    <input type="text" name="Title" value="@ViewBag.Article.Id" />
    <br /><br />
    <label>Content</label>
    <br />
    <input type="text" name="Content" value="@ViewBag.Article.Content" />
    <br /><br />
    
    <select name="CategoryId">

        @foreach (var category in ViewBag.Categories)
        {
            if (category.Id == ViewBag.Category.Id)
            {
                <option selected="selected" value="@category.Id">@category.CategoryName</option>
            }
            else
            {
                <option value="@category.Id">
                    @category.CategoryName
                </option>
            }
        }

    </select>

    <button type="submit">Change Article</button>
</form>