@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Articles</h2>
<br />

@if(ViewBag.Msg != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">
        @ViewBag.Msg
    </h2>
}
<div class="d-flex justify-content-center">
    <a href="Categories/Index" class="btn btn-success " style="margin-right:5px;">Show all categories</a>
    <a href="Articles/New" class="btn btn-success ">Create an article</a>
</div>

@foreach (var article in ViewBag.Articles)
{
    <div class="card" sytle="margin:3rem;">
        <div class="card-body">
            <h5 class="card-title">@article.Title</h5>
            <p class="card-text">@article.Content</p>>
            <p>@article.Date</p>

            <div><i class="bi bi-globe"></i> @article.Category.CategoryName</div>

            <a class="btn btn-outline-info" href="Articles/Edit/@article.Id">Edit</a>
            <a class="btn btn-outline-info" href="Articles/Show/@article.Id">See the article</a>
        </div>
    </div>
}

